{% extends "admin.html" %}
{% block trunk %}
{% for msg in get_flashed_messages() %}
<div class="alert alert-message">
    {{ msg }}
</div>
{% endfor %}
<form action="{{ url_for('add_movie') }}" method="post">
    <p><label>豆瓣ID</label><input type="text" name="douban_id"></p>
    <p><input type="submit" value="Add"></p>
</form>
{% endblock %}

{% block javascripts %}
<script>
    $(function(){
        jQuery.fx.interval = 3000;
        $('div.alert.alert-message').hide('slow');
    });
</script>
{% endblock %}
