{% extends "layout.html" %}
{% block content %}
<div class="span12 row">
    <h1>{{ movie.title }} ({{ movie.year }})</h1>
    <div class="span2">
        <img src="{{ movie.image|replace('spic', 'lpic') }}" />
    </div>
    <div class="span9">
        <span>导演</span>: <span>{{ movie.director }}</span><br />
        <span>主演</span>: <span>{{ movie.cast }}</span><br />
        <span>编剧</span>: <span>{{ movie.writer }}</span><br />
        <span>类型</span>: <span>{{ movie.type }}</span><br />
        <span>又名</span>: <span>{{ movie.aka }}</span><br />
        <span>上映日期</span>: <span>{{ movie.year }}</span><br />
    </div>
</div>
<div class="clearfix"></div>
<hr>
<div class="span12">
    <h2>播放列表</h2>
    {% for file in files %}
    <div style="dispaly: block;border: solid #ccc 1px;padding:3px;width:2.0em;float: left;text-align: center;margin-left: 5px;">
        <a href="{{ url_for('movie_player', douban_id=movie.douban_id) }}">{{ files.index(file) + 1 }}</a>
    </div>
    {% else %}
    <div class="alert alert-warning">没有播放文件</div>
    {% endfor %}
</div>
<div class="clearfix"></div>
<hr>
<div class="span12">
    <h2>剧情简介</h2>
    <p>{{ movie.summary }}</p>
</div>
{% endblock %}
