{% extends "layout.html" %}
{% block content %}
<div class="span8 row">
    <h1>{{ movie.title }} ({{ movie.year }})</h1>
    <div class="span2">
      <img src="{{ movie.image }}" />
    </div>
    <div class="span5">
      <span>导演</span>: <span>{{ movie.director }}</span><br />
      <span>主演</span>: <span>{{ movie.cast }}</span><br />
      <span>编剧</span>: <span>{{ movie.writer }}</span><br />
      <span>类型</span>: <span>{{ movie.type }}</span><br />
      <span>又名</span>: <span>{{ movie.aka }}</span><br />
      <span>上映日期</span>: <span>{{ movie.year }}</span><br />
    </div>
</div>
<p class="clearfix"></p>
<div class="span8">
  播放列表
</div>
<p class="clearfix"></p>
<div class="span8">
<p>剧情简介</p>
<p>{{ movie.summary }}</p>
</div>
{% endblock %}
